<app-header></app-header>
<main id=" liste-commande">
	<div class="container">
		<div class="row pt-4 pb-4 justify-content-end">
			<h1 class="col-8 title">{{titre}}</h1>
		</div>	
	</div>

	<div class="pt-2">
		
		<div class="container" id="accordion">
		  <div >
		    <div  id="headingTwo">
		      <h5 class="mb-0">
		        <button class="btn btn-outline-info collapsed col-12" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          Filtres
		        </button>
		      </h5>
		    </div>
		    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
		      <div class="card">
				<form class="container">
				  <div class="form-group row mt-5">
				    <label for="commande" class="col-2">Commande :</label>
				    <input type="text" class="form-control col-3" id="commande" placeholder="Enter N° Comm.">
				    <label for="num-client" class="col-2 ml-3">N° Client :</label>
				    <input type="text" class="form-control col-3" id="num-client" placeholder="Entrer N° Client">
				  </div>
				 
				  <div class="form-group row">
				    <label for="Nom-Client" class="col-2">Nom Client :</label>
				    <input type="text" class="form-control col-3" id="Nom-Client" placeholder="Enter Nom Client">
				    <label for="Revendeur" class="col-2 ml-3">Revendeur :</label>
				    <input type="text" class="form-control col-3" id="Revendeur" placeholder="Enter N° Comm.">
				  </div>
				  <div class="form-group row">
				    <label for="Financement" class="col-2">Financement :</label>
				    <input type="checkbox" class="form-control col-1" id="Financement" placeholder="">
				    <label for="Renouvellement" class="col-2">Renouvellement :</label>
				    <input type="checkbox" class="form-control col-1" id="Renouvellement" placeholder="Enter N° Comm.">
				  </div>
				  <div class="row justify-content-between mt-5 mb-3 ml-2 mr-2">
				  		<button type="Reset" class=" col-2 btn btn-secondary">Reset</button>
				  		<button type="submit" class=" col-2 btn btn-primary">Valider</button>
				  </div>
				  
				</form>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="container mt-3">
			<div class="row">
				<div class="col-12 tableau-structure">
					<div class="tableau-content">
						<div>
							<table id="tableau" class="table sortable">
								<thead>
								    <tr>
								  	  <th class="align-middle text-center" scope="#">#</th>
								      <th class="align-middle text-center" scope="col-2">Date</th>
								      <th class="align-middle text-center" scope="col-2">No. Commande</th>
								      <th class="align-middle text-center" scope="col-2">No. Cpt Client</th>
								      <th data-defaultsign="AZ" class="align-middle text-center" scope="col-2">Nom Client</th>
									  <th class="align-middle text-center" scope="col-2"><abbr title="Sous traitance">ST</abbr></th>
									  <th class="align-middle text-center" scope="col-2"><abbr title="Licence">BCB</abbr></th>
									  <th class="align-middle text-center" scope="col-2"><abbr title="Controle">Crt</abbr></th>
									  <th class="align-middle text-center" scope="col-2"><abbr title="Paramétrage">Parm</abbr></th>
									  <th class="align-middle text-center" scope="col-2"><abbr title="Préparation">Prepa</abbr></th>
									  <th class="align-middle text-center" scope="col-2"><abbr title="Livraison">Livr</abbr></th>
									  <th class="align-middle text-center" scope="col-2">Inter</th>
								    </tr>
								    
							  </thead>
							  <tbody >
							  		<ng-container  *ngFor="let liste_commande of liste_commandes; let i = index">
									    <tr class="tr-style">		    			
					      					<th class="align-middle text-center" scope="row">{{i+1}}</th>
										    <td class="align-middle text-center">{{ liste_commande.date }}</td>
											<td class="align-middle text-center">{{ liste_commande.numOrder }}</td>
											<td class="align-middle text-center">{{ liste_commande.numCodeCustom }}</td>
											<td class="align-middle text-center">{{ liste_commande.nameCustom}}</td>
											<td class="align-middle">
												<div class="col-1">
													<div class="step"></div>
												</div>
											</td>
											<td class="align-middle">
												<div class=" col-1 ">
													<div class="step"></div>
												</div>
											</td>
											<td class="align-middle">
												<div class=" col-1 ">
													<div class="step"></div>
												</div>
											</td>
											<td class="align-middle">
												<div class=" col-1 ">
													<div class="step"></div>
												</div>
											</td>
											<td class="align-middle">
												<div class=" col-1 ">
													<div class="step"></div>
												</div>
											</td>
											<td class="align-middle">
												<div class=" col-1">
													<div class="step red"></div>
												</div>
											</td>

											<td id="accordion-{{ i }}">
											  <div class="card">
											        <button id="heading-{{ i }}" class="btn btn-primary collapsed" data-toggle="collapse" attr.data-target="#collapse-{{ i }}" aria-expanded="false" attr.aria-controls="collapse-{{ i }}">
											          Details
											        </button>
											  </div>
											</td>
					    				</tr>

					    				<tr id="collapse-{{ i }}" class="collapse" attr.aria-labelledby="heading-{{ i }}" attr.data-parent="#accordion-{{ i }}">
					    					<td colspan="12">
					    						<div class="container">
					    							<div class="row">
					    								<div class="col-3"> Commercial: {{ liste_commande.CCIA_REV }}</div>
							    						<div  class="col-4"> Livraison: {{ liste_commande.destinataire }}</div>
							    						<div class="col-3"> Couleur de l'étui: {{ liste_commande.colorEtui}}</div>
							    						<div class="w-100"></div>
							    						<div class="col-3"> Crédit: {{ liste_commande.credit }}</div>
							    						<div  class="col-3"> Essai: {{ liste_commande.try }}</div>
					    							</div>
					    						</div>			    				
					    					</td>
					    				</tr>
				    				<!-- <td>
				    					<a  href="commande" data-filter="*"><fa-icon [icon]="['fas', 'edit']"></fa-icon></a>
				    				</td> -->
				    				</ng-container>
				    			</tbody>
							</table>

											
						</div>
					</div>
			</div>
		</div>
		</div>
	</div>
</main>

