<app-header></app-header>
<main id=" liste-commande">
	<div class="container">
		<div class="row pt-4 pb-4 justify-content-end">
			<h1 class="col-8 title">{{titre}}</h1>
		</div>	
	</div>
	<div class="container mt-5 input-group">
	  <!-- <div class="row input-group-prepend">
	     <div class="col input-group-text text-commande" id="#">N° Commande:</div>
	  </div> -->
	  <input type="text" placeholder="N° Com. recherche" class="col-2 form-control">
	  <button class="btn-primary col-1">OK</button>
	</div>
	<div class="container pt-2">
		<div class="row mr-1 justify-content-end">
			<button class=" btn-primary col-1 " data-filter="*">ADV</button>
			<button class=" btn-primary col-2 " data-filter="parametrage">Parametrage</button>
			<button class=" btn-primary col-2 " data-filter="hard">Hardware</button>
			<button class=" btn-primary col-2 " data-filter="logistique">Logistique</button>
		</div>

		<div class="row">
			<div class="col-12 tableau-structure">
				<div class="tableau-content">
					<div>
					<table id="tableau" class="table table-striped">
						<thead>
						    <tr>
						  	  <th class="align-middle text-center" scope="#">#</th>
						      <th class="align-middle text-center" scope="col-2">Date</th>
						      <th class="align-middle text-center" scope="col-2">No. Commande</th>
						      <th class="align-middle text-center" scope="col-2">No. Cpt Client</th>
						      <th class="align-middle text-center" scope="col-2">Nom Client</th>
							  <th class="align-middle text-center" scope="col-2">ST</th>
							  <th class="align-middle text-center" scope="col-2">BCB</th>
							  <th class="align-middle text-center" scope="col-2">Crt</th>
							  <th class="align-middle text-center" scope="col-2">Parm</th>
							  <th class="align-middle text-center" scope="col-2">Prepa</th>
							  <th class="align-middle text-center" scope="col-2">Livr</th>
						    </tr>
						    <tr>
		      					<th class="align-middle text-center" scope="row">1</th>
							    <td class="align-middle text-center">12/01/18</td>
								<td class="align-middle text-center">18927578</td>
								<td class="align-middle text-center">8027618</td>
								<td class="align-middle text-center">Mme Pierre</td>
								<td class="align-middle">
									<div class="col-1">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1">
										<div class="step red"></div>
									</div>
								</td>
								<td class="align-middle">
									<a  href="commande" data-filter="*"><fa-icon [icon]="['fas', 'edit']"></fa-icon></a>
								</td>
		    				</tr>
		    				<tr>
		      					<th class="align-middle text-center" scope="row">2</th>
							    <td class="align-middle text-center">12/01/18</td>
								<td class="align-middle text-center">18927578</td>
								<td class="align-middle text-center">8027618</td>
								<td class="align-middle text-center">Mme Pierre</td>
								<td class="align-middle">
									<div class="col-1">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step red"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step red"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1">
										<div class="step red"></div>
									</div>
								</td>
								<td class="align-middle">
									<a  href="commande" data-filter="*"><fa-icon [icon]="['fas', 'edit']"></fa-icon></a>
								</td>
		    				
		    				</tr>
		    				<tr>
		      					<th class="align-middle text-center" scope="row">3</th>
							    <td class="align-middle text-center">12/01/18</td>
								<td class="align-middle text-center">18927578</td>
								<td class="align-middle text-center">8027618</td>
								<td class="align-middle text-center">Mme Pierre</td>
								<td class="align-middle">
									<div class="col-1">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step red"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step red"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step red"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step red"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1">
										<div class="step red"></div>
									</div>
								</td>
								<td class="align-middle">
									<a  href="commande" data-filter="*"><fa-icon [icon]="['fas', 'edit']"></fa-icon></a>
								</td>
		    				</tr>
		    				<tr>
		      					<th class="align-middle text-center" scope="row">2</th>
							    <td class="align-middle text-center">12/01/18</td>
								<td class="align-middle text-center">18927578</td>
								<td class="align-middle text-center">8027618</td>
								<td class="align-middle text-center">Mme Pierre</td>
								<td class="align-middle">
									<div class="col-1">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1">
										<div class="step red"></div>
									</div>
								</td>
								<td class="align-middle">
									<a  href="commande" data-filter="*"><fa-icon [icon]="['fas', 'edit']"></fa-icon></a>
								</td>
		    				</tr>
		    				<tr>
		      					<th class="align-middle text-center" scope="row">2</th>
							    <td class="align-middle text-center">12/01/18</td>
								<td class="align-middle text-center">18927578</td>
								<td class="align-middle text-center">8027618</td>
								<td class="align-middle text-center">Mme Pierre</td>
								<td class="align-middle">
									<div class="col-1">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step red"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1">
										<div class="step red"></div>
									</div>
								</td>
								<td class="align-middle">
									<a  href="commande" data-filter="*"><fa-icon [icon]="['fas', 'edit']"></fa-icon></a>
								</td>
		    				</tr>
		    				<tr>
		      					<th class="align-middle text-center" scope="row">2</th>
							    <td class="align-middle text-center">12/01/18</td>
								<td class="align-middle text-center">18927578</td>
								<td class="align-middle text-center">8027618</td>
								<td class="align-middle text-center">Mme Pierre</td>
								<td class="align-middle">
									<div class="col-1">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step red"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1 ">
										<div class="step red"></div>
									</div>
								</td>
								<td class="align-middle">
									<div class=" col-1">
										<div class="step red"></div>
									</div>
								</td>
								<td class="align-middle">
									<a  href="commande" data-filter="*"><fa-icon [icon]="['fas', 'edit']"></fa-icon></a>
								</td>
		    				</tr>
					  </thead>
					</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

