<header class="header container-fluid">
	<div class="row">		
		<div class="header-logo col"><a href="array"><img src='../../assets/img/logo.png'></a></div>
		<div class="header-title col-6" >
			<h1>Gestionnaire de commande</h1>
		</div>
		
		<div class="header-nav col">
			<div class="header-message">Bonjour, M.<span class="header-name">Dupont</span> !</div>
			<ul>
				<li>
					<a href="array" title="liste de commande"><fa-icon [icon]="['fas', 'home']"></fa-icon></a>
				</li>
				<li>
					<a href="archive" title="archive"><fa-icon [icon]="['fas', 'folder-open']"></fa-icon></a>
				</li>
				<li>
					<a href="stats" title="statistiques"><fa-icon [icon]="['fas', 'chart-bar']"></fa-icon></a>
				</li>
				<li>
					<a href="admin" title="administration"><fa-icon [icon]="['fas', 'cog']"></fa-icon></a>
				</li>
				<li>
					<a href="" title="déconnexion"><fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon></a>
				</li>
			</ul>
		</div>
	</div>
</header>