<header class="header container-fluid">
	<div class="row">		
		<div class="header-logo col"><a href="array"><img src='../../assets/img/logo.png'></a></div>
		<div class="header-title col-6" >
			<h1>Gestionnaire de commande</h1>
		</div>
		<div class="header-nav col">
			<ul>
				<li>
					<a href="statistics" title="statistiques"><fa-icon [icon]="['fas', 'chart-bar']" size="2x"></fa-icon></a>
				</li>
				<li>
					<a href="statistics" title="statistiques"><fa-icon [icon]="['fas', 'chart-bar']" size="2x"></fa-icon></a>
				</li>
				<li>
					<a href="admin" title="administration"><fa-icon [icon]="['fas', 'cog']" size="2x"></fa-icon></a>
				</li>
				<li>
					<a href="" title="déconnexion"><fa-icon [icon]="['fas', 'sign-out-alt']" size="2x"></fa-icon></a>
				</li>
			</ul>
		</div>
		<div class="header-message">Bonjour, <span class="header-name">Nom du Commercial</span> !</div>
	</div>
</header>