.header{
	border-bottom: 1px solid #AAAA;
	text-align: center;
}

.header-logo img{
	width: 60px;
	height: 60px;
	padding: 5px;
	background: #FFF;
}
fa-icon{
	color: #555;
}

fa-icon:hover{
	color: #2c81da;
}
.header-title{
	color: #555;
}
.header-nav{
	padding-top: 10px;
	width: 10%;
}
.header-nav li{
	padding-left: 10px;
	display: inline;
	list-style: none;
}