<app-header></app-header>

<div class="container">
	<div class="row justify-content-center">

		<form class="mt-5" method="get" action="commande">
		  <div class="form-group">
		    <label for="text" name="numCommand"  class="font-weight-bold">Numéro commande: </label>
		    <input type="text" name="numCommand" id="idNumCommand" class="form-control" placeholder="saisir numéro commande" required>
		  </div>
		  <button type="submit" class="btn btn-primary">Modifier</button>
		</form>

	</div>

</div>


