<div class="container" style="text-align: center;">
	<div>
		<h2>Panel Administrateur</h2>
		<a href="liste-commandes.html">Retour</a>
	</div>

	<div class="main-admin">
		
		<div class="dropdown mb-5" > poste : 
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Sélectionnez
		  </button>
	  	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item" href="#">Type poste 1</a>
		    <a class="dropdown-item" href="#">Type poste 2</a>
		    <a class="dropdown-item" href="#">Type poste </a>
	  	</div>

	  	<div class="form-check">step 1 :
		  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
		  <label class="form-check-label" for="defaultCheck1">
		  </label>
		</div>
		<div class="form-check">step 2 :
		  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
		  <label class="form-check-label" for="defaultCheck1">
		  </label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
		  <label class="form-check-label" for="defaultCheck1">
		  </label>
		</div>
		<div class="form-check">step 3 :
		  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
		  <label class="form-check-label" for="defaultCheck1">
		  </label>
		</div>
		<div class="form-check">step 4 : 
		  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
		  <label class="form-check-label" for="defaultCheck1">
		  </label>
		</div>
		<div class="form-check">step 5 :
		  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
		  <label class="form-check-label" for="defaultCheck1">
		  </label>
		</div>
		<div class="form-check">step 6 :
		  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
		  <label class="form-check-label" for="defaultCheck1">
		  </label>
		</div>

			

	  	<div>
		  	<button type="button" class="btn btn-primary mt-5 mb-5">Valider</button>
			<button type="button" class="btn btn-secondary">Supprimer les droits</button>
		</div>
	</div>
</div>

