<app-header></app-header>
<div class="container-fluid">
	<div class="title">
		<h2 class="text-center">Panel Administrateur</h2>
	</div>
	<form class="form-group">
		<select>
			<option selected>Choix du poste</option>
			<option>Option 1</option>
			<option>Option 2</option>
			<option>Option 3</option>
			<option>Option 4</option>
			<option>Option 5</option>
			<option>Option 6</option>
		</select>
		<h3 class="bg bg-dark text-white">Autorisations</h3>
		<div class="form-check mt-3 mb-3">
			<input type="checkbox" class="form-check-input" id="exampleCheck1">
			<label class="form-check-label" for="exampleCheck1">ST</label>
		</div>
		<div class="form-check mt-3 mb-3">
			<input type="checkbox" class="form-check-input" id="exampleCheck1">
			<label class="form-check-label" for="exampleCheck1">BCB</label>
		</div>
		<div class="form-check mt-3 mb-3">
			<input type="checkbox" class="form-check-input" id="exampleCheck1">
			<label class="form-check-label" for="exampleCheck1">Crt</label>
		</div>
		<div class="form-check mt-3 mb-3">
			<input type="checkbox" class="form-check-input" id="exampleCheck1">
			<label class="form-check-label" for="exampleCheck1">Parm</label>
		</div>
		<div class="form-check mt-3 mb-3">
			<input type="checkbox" class="form-check-input" id="exampleCheck1">
			<label class="form-check-label" for="exampleCheck1">Prepa</label>
		</div>
		<div class="form-check mt-3 mb-3">
			<input type="checkbox" class="form-check-input" id="exampleCheck1">
			<label class="form-check-label" for="exampleCheck1">Lvr</label>
		</div>
			<button type="submit" class="btn btn-primary mt-3 mb-3">Valider</button>
	</form>
</div>

