<app-header></app-header>
<div class="container">
	<div>
		<h2>Panel Administrateur</h2>
	</div>

	<div class="row">
		<div class="jumbotron form-control col-md-12">
			<form class="text-center">
			    Poste :
			      <select>
			        <option>Option 1</option>
			        <option>Option 2</option>
			        <option>Option 3</option>
			        <option>Option 4</option>
			        <option>Option 5</option>
			        <option>Option 6</option>
			      </select>
			</form>
			<form class="text-center mt-5 mb-3 ml-5 mr-5 border border-dark bg bg-white"><h3 class="bg bg-dark text-white">Autorisations</h3>
				<div class="form-check mt-3 mb-3">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">ST</label>
				</div>
				<div class="form-check mt-3 mb-3">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">BCB</label>
				</div>
				<div class="form-check mt-3 mb-3">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">step 3</label>
				</div>
				<div class="form-check mt-3 mb-3">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">Step 4</label>
				</div>
				<div class="form-check mt-3 mb-3">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">Step 5</label>
				</div>
				<div class="form-check mt-3 mb-3">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">Livraison</label>
				</div>
					<button type="submit" class="btn btn-primary mt-3 mb-3">Submit</button>
			</form>
			<form class="ml-5 mr-5">
				<label for="exampleFormControlTextarea1">Commentaire : </label>
    			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="votre commentaire ici"></textarea>	
			</form>

		</div>
	</div>
	

		<!--form class="col-md-4"> 
				Commentaire : <textarea id="textarea" class="form-control"></textarea>
			    <button>Envoyer</button>
		</form--> 
  	
</div>

