<app-header></app-header>
<form action="">

	<fieldset class="container mt-3 pb-3">
		<legend>ADV</legend>
		
			<div class="row mb-2">
				<label for="" class="col-2">Date</label>
				<input class="col-3" type="text" readonly="readonly" name="" id="" value="28-04-2018"/>
				<label for="" class="col-2">Transfert</label>
				<input class="col-3" type="text" name="" id="" value=""/>
			</div>
			<div class="row mb-2">
				<label for="" class="col-2">Num Commande</label>
				<input class="col-3" type="text" readonly="readonly" name="" id="" value="097788646"/>
				<label for="" class="col-2">Info</label>
				<input class="col-3" type="text" name="" id="" value=""/>
			</div>
			
			<div class="row mb-2">
				<label for="" class="col-2">Nom Client</label>
				<input class="col-3" type="text" readonly="readonly" name="" id="" value="Mme Valérie"/>
				<label for="" class="col-2">Dest'Livraison</label>
				<input class="col-3" type="text" name="" id="" value=""/>
			</div>

			<div class="row mb-2">
				<label for="" class="col-2">Num Compte Client</label>
				<input class="col-3" type="text"  readonly="readonly" name="" id="" value="123456789"/>
				
			</div>
			<div class="row mb-2">
				<label for="" class="col-2">Commercial/Rev</label>
				<input class="col-3" type="text" readonly="readonly" name="" id="" value="Micka"/>
				
			</div>

			<div class="row mb-2">
				<label for="" class="col-2">Eligible S/T</label>
				<select class="col-1">
					<option class="select--yes" value="#">Oui</option>
					<option class="select--no" value="#">Non</option>
				</select>
				<label for="" class="col-2">Validation S/T</label>
				<select class="col-1">
					<option class="select--yes" value="#">Oui</option>
					<option class="select--no" value="#">Non</option>
				</select>
				<label for="" class="col-3">Réception BCB</label>
				<select class="col-2">
					<option class="select--received" value="#">Reçu</option>
					<option class="select--noreceived" value="#">Non-reçu</option>
				</select>
				
			</div>
			
			<div class="row mb-2">
				<label for="" class="col-2">Essai</label>
				<select class="col-1">
					<option class="select--yes" value="#">Oui</option>
					<option class="select--no" value="#">Non</option>
				</select>
				<label for="" class="col-2">Eko/Simply</label>
				<select class="col-2">
					<option class="select--eko" value="#">Eko</option>
					<option class="select--simply" value="#">Simply</option>
				</select>
				<label for="" class="col-2">Crédit</label>
				<select class="col-1">
					<option class="select--yes" value="#">Oui</option>
					<option class="select--no" value="#">Non</option>
				</select>
			</div>
			<div class="row mb-2">
				<label for="" class="col-2">Dom-Tom</label>
				<select class="col-1">
					<option class="select--yes" value="#">Oui</option>
					<option class="select--no" value="#">Non</option>
				</select>
				<label for="" class="col-2">Couleur Etui</label>
				<select class="col-2">
					<option class="select--green" value="#">Vert</option>
					<option class="select--yellow" value="#">Jaune</option>
					<option class="select--red" value="#">Rouge</option>
					<option class="select--black" value="#">Noir</option>
				</select>
				<label for="" class="col-2">Urgence</label>
				<select class="col-1">
					<option class="select--yes" value="#">Oui</option>
					<option class="select--no" value="#">Non</option>
				</select>
			</div>
	</fieldset>
	<fieldset class="container pb-4">
		<legend>Parametre</legend>
		<div>
			<div class="row mb-2">
				<label for="" class="col-3">Date du paramétrage</label>
				<input class="col-2" type="date" name="" id="" value=""/>
				<label for="" class="col-3">Nom du Technicien</label>
				<select class="col-2">
					<option class="select--green" value="#">Technicien 1</option>
					<option class="select--yellow" value="#">Technicien 2</option>
					<option class="select--red" value="#">Technicien 3</option>
					<option class="select--black" value="#">Technicien 4</option>
				</select>
			</div>
		</div>
	</fieldset>

	<fieldset class=" container pb-4">	
		<legend>Hardware</legend>
		<div>
			<div class="row mb-2">
				<label for="" class="col-3">Date de la préparation</label>
				<input class="col-2" type="date" name="" id="" value=""/>
				<label for="" class="col-3">Nom du technicien</label>
				<select class="col-2">
					<option class="select--green" value="#">Technicien 1</option>
					<option class="select--yellow" value="#">Technicien 2</option>
					<option class="select--red" value="#">Technicien 3</option>
					<option class="select--black" value="#">Technicien 4</option>
				</select>
			</div>
			<div class="row mb-2">
			</div>
		</div>
	</fieldset>

	<fieldset class=" container pb-4">
		<legend>Logistique</legend>
		<div>
			<div class="row mb-2">
				<label for="" class="col-2"> n° tracking</label>
				<input class="col-1" type="text" name="" id="" value=""/>
				<label for="" class="col-2">Date Expiration</label>
				<input class="col-1" type="text" name="" id="" value=""/>
				<div class="w-100"></div>
				<label for="" class="col-2">n° track Retour</label>
				<input class="col-1" type="text" name="" id="" value=""/>
				<label for="" class="col-2">ID tracking</label>
				<input class="col-1" type="text" name="" id="" value=""/>
			</div>
			<div class="row mb-2">
			</div>
		</div>
	</fieldset>	
	<div class="container mt-3 mb-5">
		<div class="row">
			<button class=" pt-1 pb-1 col-2 btn-primary">Valider</button>
		</div>
	</div>
</form>	