.logo-img{
	height: 400px;
	width: 400px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.logo{
	margin: 0 auto;
	text-align: center;
}

.connexion{
	display: flex;
	flex-direction: column;
	width: 245px;
	margin:auto;

}

.connexion-button{
	margin-top: 30px;
	margin-left: 70.5px;
	margin-right: 70.5px;
}