<div class="container">
  <div class="logo row rounded mx-auto d-block">
    <img class="logo img-fluid" src="../../assets/img/logo_rmi.png" alt="Logo_RMI_responsive">
  </div>
  <form class="" action="liste-commandes.html">
    <label for="id">Votre identifiant:</label>
    <input type="text" name="id" id="id" placeholder="Identifiant">
    <label for="id">Votre Mots de passe:</label>
    <input type="password" name="passowrd" placeholder="Mots de passe">
    <input type="submit" value="Connexion" class="connexion-button">
  </form>
</div>
