<div class="général container">
  <div class="logo row">
    <img class="logo-img" src="../../assets/img/logo_rmi.png" alt="Logo RM Ingénieurie">
  </div>
  <div class="connexion row">
    <form action="liste-commandes.html">
      <label for="id">Votre identifiant:</label>
      <input type="text" name="id" id="id" placeholder="Identifiant">
      <label for="id">Votre Mots de passe:</label>
      <input type="password" name="passowrd" placeholder="Mots de passe">
      <input type="submit" value="Connexion" class="connexion-button">
    </form>
  </div>
</div>
